@import "./variables.scss";

html {
    scroll-behavior: smooth;
}

.page-container {
    background-color: $main-background-color;
    min-height: 100%;
    margin-bottom: -150px;
    padding-bottom: 150PX;
}

.main-container {
    max-width: 90%;
    margin: 0 auto;
    background-color: $main-background-color;
}

.wrapper-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 35vw);
    grid-gap: 15px;
    &__item {
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        cursor: pointer;
    }
}

.image-container {
    height: 80%;
    &__image {
        max-width: 100%;
        height:auto;
        object-fit: cover;
    }
}

.description-container {
    min-height: 20%;
    max-width: 100%;
    margin: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__name {
        padding-right: 15px;
        color: $footer-logo-color;
        font-size: 1.8rem;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        height: 2.5rem;
    }
    &__genres {
        color: $genre-color;
        font-size: 1.6rem;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        overflow: hidden;
        display: inline-block;
        height: 2.5rem;
    }
    &__stars {
        border: 1px solid $main-fill-colour;
        border-radius: 7px;
        color: $main-fill-colour;
        padding: 5px;
    }
}
